<div class="col-md-6 container">
    <h2>Signup</h2>
    <form class="form signup-form needs-validation">
        <div class="form-group col-md-4 mb-3">
            <label for="username-signup">Username:</label>
            <input type="text" class="form-control" id="username-signup" placeholder="Create a username" required>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="email-signup">Email Address:</label>
            <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
                placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="password-signup">Password:</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Password" required>
            <small id="emailHelp" class="form-text text-muted">Minimum of 8 characters.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="/js/signup.js"></script>